<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{ title }}!
  </h1>
  <p>test data.  Begin design</p>
  <select>
    <option *ngFor="let list of lists | keysPipe">
      {{list}}
    </option>
  </select>
</div>
<div>
  <app-world-map></app-world-map>
  <!--<app-d3graph></app-d3graph>-->
  <!--<app-rev-bar-graph></app-rev-bar-graph>-->
  <!--<app-scatter-plot></app-scatter-plot>-->
  <app-multi-dimensional></app-multi-dimensional>
</div>

