@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.land {
  fill: #999;
}
.boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}
